YAHOO_USER=your_yahoo_address@yahoo.com
YAHOO_APP_PASSWORD=your_yahoo_app_password
GMAIL_USER=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
ANTHROPIC_API_KEY=your_anthropic_api_key
